.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #000000, #434343,  #1e1e1e, #00bcd4);
  background-size: 400% 400%; /* For smooth gradient effect */
  animation: gradientAnimation 10s ease infinite; 
  }
  /* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.circle {
  width: 750px; /* Width of the semi-circle */
  height: 700px; /* Height of the semi-circle */
  border-radius: 50%;
  background: linear-gradient(135deg, #000000, #434343, #1e1e1e, #00bcd4);
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  border: 100px solidlinear-gradient(135deg, #000000, #434343,  #1e1e1e, #00bcd4);
  
  background-size: 400% 400%; /* For smooth gradient effect */
  animation: gradientAnimation 10s ease infinite; /* Adding flowing animation */
  box-shadow: 0 0 80px rgba(252, 252, 250, 0.8); /* Glowing effect */
  
}
  
  .forgot-password-form {
    width: 100%;
  max-width: 400px; /* Adjust the width as needed */
 
 
margin-top: 5cm;
margin-left: 5cm;
  }
  
  .forgot-password-form h2 {
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 85%;
    padding: 0.7rem;
    border: 2px solid #ccc;
    border-radius: 50px;
  }
  
  button {
    background: transparent; /* Transparent background */
    color: bisque; /* Text color */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Transparent border */
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 5cm;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  button:hover {
    background: rgb(7, 7, 7); /* Slight glossy effect */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Glow effect */
    color: white; /* Brighten text color on hover */
  }
  .message {
    color: rgb(1, 16, 1);
    margin-bottom: 1rem;
  }
  
  .back-to-login {
    margin-top: 1rem;
  }
  
  .back-to-login a {
    color: #ede5e5;
    text-decoration: none;
  }
  
  .back-to-login a:hover {
    text-decoration: underline;
  }
 