/* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #000000, #434343,  #1e1e1e, #00bcd4);
  background-size: 400% 400%; /* For smooth gradient effect */
  animation: gradientAnimation 10s ease infinite; /* Adding flowing animation */
}

.circle {
  width: 750px; /* Width of the semi-circle */
  height: 700px; /* Height of the semi-circle */
  border-radius: 50%;
  background: linear-gradient(135deg, #000000, #434343, #1e1e1e, #00bcd4);
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  border: 100px solidlinear-gradient(135deg, #000000, #434343,  #1e1e1e, #00bcd4);
  
  background-size: 400% 400%; /* For smooth gradient effect */
  animation: gradientAnimation 10s ease infinite; /* Adding flowing animation */
  box-shadow: 0 0 80px rgba(252, 252, 250, 0.8); /* Glowing effect */
  
}








  .register-form {
   
   
   
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
   
   
   
    
    
    
    
  
 
  
 margin-top: 5cm;
 margin-left: 5cm;
  }
  
  .register-form h2 {
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background: transparent; /* Make the button background transparent */
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 5cm;
  }
  
  button:hover {
    background: black;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 480px) {
  
    .register-page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 140vh;
      position: relative;
      
     
    }
    
    .circle {
      margin-top:3cm;
      width: 0px; /* Width of the semi-circle */
      height: 0px; /* Height of the semi-circle */
      border-radius: 50%;
      
     
     
      
     
      
      
    }
    
    
    
    
    
    
    .register-form {
      margin-left:6cm; /* Smaller margin for very small screens */
      margin-top: 4.5cm; /* Adjust margin for small screens */
      max-width: 50%; /* Ensure form fills almost the entire width */
    }
  
    button {
      width: 4cm; /* Set the width of the button to 2 cm */
    }
    
    button:hover {
      background: #0b0028;
    }
  }